@tailwind base;
@tailwind components;
@tailwind utilities;
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: rgba(24, 26, 27, 1);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(108, 202, 226, 1);
}

body {
  background-color: rgba(18, 18, 18, 1);
  color: white;
}

.leading-custom {
  line-height: 1.5 !important;
}

.slick-dots li button:before {
  color: white;
}

.slick-dots li.slick-active button:before {
  color: rgba(108, 202, 226, 1);
}
